html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  margin-left: 0px;
  background-image: url("../../../assets/Home2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  overflow: hidden;
}

@media screen and (min-width:0px)
{
  .main_main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width:900px)
{
  .main_main{
    display: block;
  }
}